
              <!--<form accept-charset="utf-8" action="/" class="js-search-submit" method="get">-->
              <!--</form>-->
<div class="container">
    <h3>検索結果</h3>
  <div class="row">
    <% @bookreviews.each do |bookreview| %>
    <%= render partial: "bookreview", locals: { bookreview: bookreview } %>
    <% end %>
  </div>
</div>
                
                