    <div class="main">
        <div class="main-content">
            <h1>Bookレビュー</h1>
            <p>Bookレビューは書籍レビューサイトです。<br>
            <br>
            みんなのレビューを参考に、自分にぴったりの本を探してみませんか？</p>
            <br>
            <div class="list-botton">
                <div class="list-botton-left">
                    <a href="/bookreview">書籍の一覧を見る</a>
                </div>
                <div class="list-botton-right">
                    <a href="/ranking">ランキングを検索</a>
                </div>
            </div>    
        </div>
    </div>


